.sickness-title {
    margin: 0px;
    padding: 0px;
}


.sickness-wrapper {
    /* grid-template-rows: 2em  10em 8em 3.1875em;    */
    background-color: #eee;
    display: grid;
    grid-gap: 0.5em;
    align-items: stretch;
    border-radius: 0.625em;
}

.sickness-box {
    /* padding: 1,25em; */
    color: #111111;
    padding: 0.5em;
}

.sickness-box-img {
    grid-column: 1;
    grid-row: 2;
    height: 10em;
}

.sickness-box-title {
    grid-column: 1;
    grid-row: 1;
}

.sickness-box-text {
    grid-column: 1;
    grid-row: 3;
}

.sickness-box-btn {
    grid-column: 1;
    grid-row: 4;
}

#search-container {
    width: 100%;
    margin-bottom: 2em;
}

#search-container input {
    width: calc(100% - 2.85em);
}

@media (min-width: 49em) {
    .sickness-wrapper {
        /* grid-template-rows: 2.43em 5em 3.1875em;    */
        grid-template-columns: 0.2fr 0.8fr;
    }

    .sickness-box-img {
        grid-row: 1/4;
        grid-column: 1;
    }

    .sickness-box-title {
        grid-row: 1;
    }

    .sickness-box-text {
        grid-column: 2;
        grid-row: 2;
    }

    .sickness-box-btn {
        grid-column: 2;
        grid-row: 3;
    }

    .btn-view-detail {
        display: inline-block;
    }

    #search-container {
        width: calc(75% - 1.4em);
        margin: auto;
        margin-bottom: 2em;
    }
}
